/* 시계 모양등 디자인에 대한 정의 */

.info-box {
    display: flex;
    flex-direction: column;

}

/* 시계 사이 표시 */
.dot {
    color: rgb(179, 179, 179);
}

/* 시계 */
.color {
    color: rgb(143, 143, 143);
    text-align: center;
}

.size-fixed {
    width: 1.8em;
    text-align: center;

}

/* 시간아래 역할 표시 */
#date-name {
    font-size: 1rem;
    text-align: center;
    color: rgb(168, 168, 168);
}


/* 모바일 화면일때 */
@media screen and (max-width: 769px) {


    #date-name {
        font-size: 0.8rem;
        text-align: center;
    }
}

@media only screen and (min-width:1800px) {
    #date-name {
        font-size: 3rem;
        text-align: center;
    }
}

/*가로모드일때*/
@media (orientation: landscape) and (max-height:400px) {}